---
---

@import "{{ site.theme }}";

.wrapper {
  display:grid;
  grid-template-columns: 4fr 1fr;
}

.header {
  grid-column-start: 1;
  grid-column-end: -1;
}

.footer {
  grid-column-start: 1;
  grid-column-end: -1;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .wrapper {
    grid-template-columns: none;
  }
}
